


<h4>Menu</h4> 





    <table class="tableB" id="selectores-tabla">
      <thead>
        <tr>
            <th class="ca-5">selector</th>
            <th class="ca-30">descripción</th>
            <th class="ca-5">nivel</th>
            <th class="ca-5">sup</th>
            <th class="ca-5">codigo</th>
            <th class="ca-5">ord</th>
            
        </tr>
      </thead>

      <tbody id="selectores-tb">

      </tbody>

      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>


    <hr class="e20"/>

    <div class="botones">
        <div class="boton">    
          <a id="btn_nuevo" 
             class="botonA" 
             href="javascript:void(0);">
             Nuevo
          </a>
      </div>
    </div>


                 
                        