


#idalertas{
   
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 80%;    
    
    margin-left: 2%;
    bottom: 1%;
    z-index: 99;        
}

.alerta {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    
/*    position: fixed;    */
    /*bottom: 0;*/
    /*left: 0;*/
    /*margin-left: 20px;*/
    
    /*font-weight: bold;*/
    
    
    /*font-size: 0.85rem;  */
    
    width: 100%;
    
}

.alerta-error {
    
    color: white;
    
    background-color: #f04124;
    border-color: #f04124;
    
    background-color: red;
    border-color: red;    
}




.alerta-ok {

    color: white;
  
    background-color: #008000;    
    border-color: #008000;
    
}


.alert-info {
    color: white;
    
    background-color: #f04124;
    border-color: #f04124;
}


.alert-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc;
}