

/*@import url('https://fonts.googleapis.com/css?family=Lato');*/
/*@import url('https://fonts.googleapis.com/css?family=Heebo');*/

/*
@font-face {
    font-family: "Lato";
    src: url(font/Lato/Lato-Medium.ttf) format("truetype");
}


@import url('https://fonts.googleapis.com/css?family=Istok+Web|NTR|Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css?family=Istok+Web|NTR|Source+Sans+Pro&display=swap');

*/

 
/*font-family: 'Heebo', sans-serif;verdana*/

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{         

    /* font-family: 'Lato', verdana, helvetica,sans-serif;    
    
font-family: 'Istok Web', sans-serif;
    */



font-family: 'Poppins', sans-serif;


font-family: 'Lato', sans-serif;


/*font-size: small */;    

/*font-size: 0.96rem;*/


}
  


html{
    height:100%;
    
    font-size: 0.88em;
}



body {
    display: flex;
    justify-content: center;
    margin: 0;    
        min-height: 100%;
     
}


header{        
    width: 100%;
}


nav#nav{    
    width: 100%;   
    height: 30px;
    border-bottom: solid 4px;
    border-bottom: solid 2px;
    border-bottom: solid 3px;
        
  /*  border-top: solid 3px brown ;*/
}



main{
    display: flex;
    flex-grow: 1;    
    justify-content: center;
    flex-wrap: wrap-reverse;    
}


section{
    display: flex;
    flex-direction: column;
}

footer{
    
}





article.s10 {    
    margin-bottom: 10rem;    
}



#panelCentral{    
    width: 70%;
}



hr.e10 {
    margin: 10px;
    border: 0px;
}


hr.e20 {
    margin: 20px;
    border: 0px;
}


hr.e40 {
    margin: 40px;
    border: 0px;
}


.subti
{
      margin-bottom: 0px;
}

  


#loginlogo{    
    width: 100%;
}


#header_logo {
    
    display: flex;
    justify-content: space-between;
    
}


.wi-6 {
    width: 60%;
 } 