
<article>
            <form
                class="form"
                action="#"
                name="form_cordinador"
                id="form_cordinador"                    
            >
            

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="cordinador">Cordinador:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="cordinador"
                            id="cordinador_cordinador"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    
                



            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="nombre">Nombre:</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="nombre"
                            id="cordinador_nombre"
                            />
                    </div>
                </div>    
            </div>
                
        </form>

</article>

<article id="cordinador-acciones">
    <pre></pre>
</article>
                


<article id="cordinador-tabuladores">
    <pre></pre>
</article>
                
