



.dtabla{
   display: flex;
   flex-direction: column;
}
.dfila{
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  /*display: table-row;*/

}
.dcol{
  /*display: table-cell;*/
  /*padding: 12px;*/
    display: flex;
    vertical-align: middle;

  
}

div img{
    /*height: 70%;*/
    
    width: 70%;
    height: 90%;
    margin-left: 10%;
    margin-right: 10%;

    
}




#header_logo {
    
    display: flex;
    justify-content: space-between;
    
}




.logo_superior{
   display: flex;     
   justify-content: space-between;
}


.logo_1 {
    width: 250px;
    margin-left: 0px;
}

.logo_2 {
    width: 110px;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    height: 60px;
}


.logo_texto_medio {
    text-align: center;    
    display: flex;
   align-items: center;
       margin-left: 40px;
    margin-right: 40px
}

.logo_texto_medio div {
    font-size: 24px;
    font-weight: bolder;
}


.logo_texto_linea2 {
    text-align: center;    
    display: flex;
    /*margin-top: 20px;*/
}

.logo_texto_linea2 div{    
    width: 100%;
    font-size: larger;
}

.logo_texto_linea3{    
    /*margin-right: 50px;*/
    /*margin-left: 50px;*/
    font-size: small;
}



    
.logo_pie {

    font-size: smaller;
    margin-bottom: 20px;
    font-style: oblique;
    margin-left: 20px;
    margin-right: 20px;

}

    
.main_login{

    flex-wrap: wrap;
    justify-content: space-around;

}


.main_div{

    width: 94%;
        
    display: flex;
    flex-wrap: wrap;     
    justify-content: inherit;
       align-items: center;
}



.msession1{
    width: 600px;
    
}

.msession2{
 width: 360px;
}
