




<div class ="table-responsive-vertical">
    
        <table class="tableB" id="proyectovigente-tabla">
          <thead>
            <tr>                
                <th>numero</th>                
                <th>nombre proyecto</th>                
                <th>ente financiador</th>
                <th>convenio numero</th>                
                <th>fecha inicio</th>
                <th>fecha fin</th>
                <th>fecha adenda</th>
                <th>meses duracion</th>
                <th>moneda</th>
                <th>total moneda original</th>
                <th>monto guaranies</th>
                <th>cordinador</th>
                <th>tipo proyecto</th>
                <th>estado</th>
                
            </tr>
          </thead>

          <tbody id="proyectovigente-tb">

          </tbody>

          <tfoot>
            <tr>
                
                              
                <td id="cantidad" style="text-align: right;">0</td>
                <td>Registros</td>
                <td colspan="8"></td>
                
                <td id="monto_guaranies" style="text-align: right;">0</td>
                
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="proyectovigente_paginacion" class="pagination" >                            
        </div>


        
        
        <article id="proyectovigente_acciones_lista">
            
            <div class="botones"> 
                
                <div class="boton">     
                    <a id="btn_proyectovigente_nuevo" 
                       data-id="0" 
                       class="botonA" 
                       href="javascript:void(0);">     Nuevo    
                    </a>   
                </div> 
                
                <div class="boton">     
                    <a id="btn_proyectovigente_a_xlsx" 
                       data-id="1" 
                       class="botonA" 
                       href="javascript:void(0);">     
                        A archivo.xlsx    
                    </a>   
                </div>
                
            </div>    
            
        </article>    


        
        

        
