
<article>
    
    <h4>Consulta por vacunaciones registradas</h4>
    
            <form
            class="form"
            action="#"
            name="form_consulta"
            id="form_consulta"                    
            >
            
       

                <div class="f-line">
                    <div class="f-campo">
                        <div class="bl-8">
                            <label for="departamento">Departamento:</label> 
                        </div>

                        <div class="bl-14">
                            <select name="departamento" 
                                    id="departamento"                                                                           
                                     >   
                            </select>      
                        </div>                    
                    </div>          
                </div>                        

                <div class="f-line">
                    <div class="f-campo">
                        <div class="bl-8">
                            <label for="distrito">Distrito:</label> 
                        </div>

                        <div class="bl-14">
                            <select name="distrito" 
                                    id="distrito"                                                                           
                                     >   
                            </select>      
                        </div>                    
                    </div>                 
                </div>  
                

                <div class="f-line">
                
                    <div class="f-campo">
                        <div class="bl-8">
                            <label for="qry_fecha_inicio">Fecha inicio:</label> 
                        </div>

                        <div class="bl-8">
                            <input type="date" name="qry_fecha_inicio" id="qry_fecha_inicio">
                        </div>
                        <div class="bl-6"></div>
                    </div>    


                    <div class="f-campo">
                        <div class="bl-8">
                            <label for="qry_fecha_finalizacion">Fecha finalizacion:</label> 
                        </div>

                        <div class="bl-8">
                            <input type="date" name="qry_fecha_finalizacion" id="qry_fecha_finalizacion">
                        </div>
                        <div class="bl-6"></div>
                    </div>    

                </div>



                <div class="f-line">

                    <div class="f-campo">
                        <input type="hidden" 
                               name="registrador" 
                               id="registrador" 
                               data-pertenece="Registrador" 
                               data-foreign="Registrador" 
                               value="0">                
                    </div>


                    <div class="f-campo">

                        <div class="bl-8">
                            <label for="cedula_registrador">Cedula registrador:</label> 
                        </div>

                        <div class="bl-6">
                            <input type="text" 
                                   name="cedula_registrador" 
                                   id="cedula_registrador" 
                                   class="num" 
                                   data-vista="notGet">
                        </div>

                        <div class="bl-2">                        
                            <div class="icono"> 
                                <span class="icon-more-horizontal" 
                                      id="ico-more-registrador" 
                                      data-ind="0">                                    
                                </span>
                            </div>                        
                        </div>   


                        <div class="bl-2"></div>                        

                        <div class="bl-24 out">      
                            <output id="registrador_descripcion_out"></output>
                        </div>  

                    </div>




                </div>                
                
                
                <div class="f-line">

                    <div class="f-campo">
                        <input type="hidden" 
                               name="vacunador" 
                               id="vacunador" 
                               data-pertenece="Vacunacion" 
                               data-foreign="Vacunador" 
                               value="0">                
                    </div>


                    <div class="f-campo">

                        <div class="bl-8">
                            <label for="cedula_vacunador">Cedula vacunador:</label> 
                        </div>

                        <div class="bl-6">
                            <input type="text" 
                                   name="cedula_vacunador" 
                                   id="cedula_vacunador" 
                                   class="num" 
                                   data-vista="notGet">
                        </div>

                        <div class="bl-2">                        
                            <div class="icono"> 
                                <span class="icon-more-horizontal" 
                                      id="ico-more-vacunador" 
                                      data-ind="0">                                    
                                </span>
                            </div>                        
                        </div>   


                        <div class="bl-2"></div>                        

                        <div class="bl-24 out">      
                            <output id="vacunador_descripcion_out"></output>
                        </div>  

                    </div>




                </div>                                
                

        </form>

</article>




<article id="consulta-acciones">

    <div class="botones">
        <div class="boton">    
          <a id="btn_consultar" 
             class="botonA" 
             href="javascript:void(0);">
             Consultar
          </a>
      </div>
    </div>
    
    
</article>
                


<article id="departamento-tabuladores">
    <pre></pre>
</article>
                
