

<div class ="table-responsive-vertical">
    
        <table class="tableB" id="vacunacion-tabla">
          <thead>
            <tr>
                <th>codigo</th>
                <th>fecha</th>
                <th>registrador</th>
                <th>vacunador</th>
                <th>departamento</th>
                <th>distrito</th>
                <th>cant 50+</th>
                <th>cant 18-49</th>
                <th>cant 18-</th>
                <th  class="ca-5">cant total</th>
                <th>transporte</th>
                
                
                
            </tr>
          </thead>

          <tbody id="vacunacion-tb">

          </tbody>

          <tfoot>
            <tr>
                <td colspan="6">TOTALES</td>
                <td id="sum_50" style="text-align: right;">0</td>
                <td id="sum_49" style="text-align: right;">0</td>
                <td id="sum_18" style="text-align: right;">0</td>
                <td id="sum_total" style="text-align: right;">0</td>
                <td></td>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="vacunacion_paginacion" class="pagination" >                            
        </div>


        <article id="vacunacion_acciones_lista">
            <div class="botones">
                <div class="boton">    
                  <a id="btn_xlsx" 
                     class="botonA" 
                     href="javascript:void(0);">
                     A excel
                  </a>
              </div>
            </div>
        </article>    


        
        

        
        


    