
<article>
            <form
                class="form"
                action="#"
                name="form_estadoproyecto"
                id="form_estadoproyecto"                    
            >
            

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="estado_proyecto">Estado proyecto:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="estado_proyecto"
                            id="estadoproyecto_estado_proyecto"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    
                

 

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="nombre">Nombre:</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="nombre"
                            id="estadoproyecto_nombre"
                            />
                    </div>
                </div>    
            </div>
                
        </form>

</article>

<article id="estadoproyecto-acciones">
    <pre></pre>
</article>
                


<article id="estadoproyecto-tabuladores">
    <pre></pre>
</article>
                
