

<div class ="table-responsive-vertical wi-6">
    
        <table class="tableB" id="estadoproyecto-tabla">
          <thead>
            <tr>
                <th class="ca-5">codigo</th>
                <th class="ca-30">Descripción</th>
                
                
            </tr>
          </thead>

          <tbody id="estadoproyecto-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="estadoproyecto_paginacion" class="pagination" >                            
        </div>


        <article id="estadoproyecto_acciones_lista">
            <pre></pre>
        </article>    


        
        
