

<div class ="table-responsive-vertical">
    
        <table class="tableB" id="vacunacion-tabla">
          <thead>
            <tr>
                <th>codigo</th>
                <th>fecha</th>
                <th>registrador</th>
                <th>vacunador</th>
                <th>departamento</th>
                <th>distrito</th>
                <th>cant 50+</th>
                <th>cant 18-49</th>
                <th>cant 18-</th>
                <th>cant total</th>
                <th>transporte</th>
                
                
                
            </tr>
          </thead>

          <tbody id="vacunacion-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="vacunacion_paginacion" class="pagination" >                            
        </div>


        <article id="vacunacion_acciones_lista">
            <pre></pre>
        </article>    


        
        
