

<div class ="table-responsive-vertical wi-6">
    
        <table class="tableB" id="entefinanciador-tabla">
          <thead>
            <tr>
                <th class="ca-5">ente financiador</th>
                <th class="ca-30">nombre</th>
                
                
            </tr>
          </thead>

          <tbody id="entefinanciador-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="entefinanciador_paginacion" class="pagination" >                            
        </div>


        <article id="entefinanciador_acciones_lista">
            <pre></pre>
        </article>    


        
        
