
<article>
            <form
            class="form"
            action="#"
            name="form_distrito"
            id="form_distrito"                    
            >
            
       

                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="distrito">Distrito:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="distrito"
                            id="distrito_distrito"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    
                



            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="nombre">Nombre:</label> 
                    </div>

                    <div class="bl-12">
                        <input                                                 
                            type="text"
                            name="nombre"
                            id="distrito_nombre"
                            />
                    </div>
                </div>    
            </div>
                
                
                
            <div class="f-line">
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="departamento">Departamento:</label> 
                    </div>
                    
                    <div class="bl-16">
                        <select name="departamento" 
                                id="distrito_departamento"                                                                           
                                 >   
                        </select>      
                    </div>                    
                </div>          
            </div>                




        </form>

</article>

<article id="distrito-acciones">
    <pre></pre>
</article>
                


<article id="distrito-tabuladores">
    <pre></pre>
</article>
                
