
<article>
            <form
                class="form"
                action="#"
                name="form_registrador"
                id="form_registrador"                    
            >
            

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="registrador">Registrador:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="registrador"
                            id="registrador_registrador"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    
              
                
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="cedula">Cedula:</label> 
                    </div>

                    <div class="bl-10">
                        <input                                                 
                            type="text"
                            name="cedula"
                            id="registrador_cedula"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>
                                



            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="nombre">Nombre:</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="nombre"
                            id="registrador_nombre"
                            />
                    </div>
                </div>    
            </div>
                
                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="email">Correo:</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="email"
                            id="registrador_email"
                            />
                    </div>
                </div>    
            </div>                
                
                
                
                
            <div class="f-line">

                <div class="f-campo">
                    <div class="bl-8">
                        <label for="habilitado">Habilitado:</label> 
                    </div>
                    
                    <div class="bl-4" id="id_sel_habilitado">
                        <select name="sel_habilitado" 
                                id="sel_habilitado"       
                                data-vista ="notGet"
                                 >   
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>      
                    </div>    
                    
                    <div class="bl-4" id="id_registrador_habilitado" >                        
                        <input                                                 
                            type="text"
                            name="habilitado"
                            id="registrador_habilitado"                            
                            />
                    </div>  
                </div>


            </div>

                
                
                
            <div class="f-line">
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="usuario">Usuario:</label> 
                    </div>
                    
                    <div class="bl-16">
                        
                        <select name = "usuario" 
                                id="registrador_usuario"                                                                           
                                 >   
                        </select>    
                        
                    </div>                    
                </div>          
            </div>                

                                    


                
                
                
        </form>

</article>

<article id="registrador-acciones">
    <pre></pre>
</article>
                


<article id="registrador-tabuladores">
    <pre></pre>
</article>
                
