

<div class ="table-responsive-vertical">
    
        <table class="tableB" id="registrador-tabla">
          <thead>
            <tr>
                <th class="ca-5">registrador</th>
                <th class="ca-15">cedula</th>                
                <th class="ca-30">nombre</th>
                <th class="ca-20">correo electronico</th>
                <th class="ca-10">habilitado</th>
                
                
            </tr>
          </thead>

          <tbody id="registrador-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="registrador_paginacion" class="pagination" >                            
        </div>


        <article id="registrador_acciones_lista">
            <pre></pre>
        </article>    


        
        
