
<article>
            <form
            class="form"
            action="#"
            name="form_vacunacion"
            id="form_vacunacion"                    
            >
            
       
                
                
 
            <div class="f-line">

                <div class="f-campo">
                    <div class="bl-8">
                        <label for="fecha_reporte">Fecha reporte:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="date"
                            name="fecha_reporte"
                            id="vacunacion_fecha_reporte"
                            />
                    </div>
                    <div class="bl-8"></div>  
                </div> 
                
                
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="id">codigo:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="id"
                            id="vacunacion_id"
                            class="num" 
                            />
                    </div>
                </div>                    
                


            </div>
                
                
                
                

            <div class="f-line">
                
                
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="departamento">Departamento:</label> 
                    </div>
                    
                    <div class="bl-12">
                        <select name="departamento" 
                                id="vacunacion_departamento"                                                                           
                                 >   
                        </select>      
                    </div>  
                     <div class="bl-4"></div>  
                </div> 
                

                <div class="f-campo">
                    <div class="bl-8">
                        <label for="distrito">Distrito:</label> 
                    </div>
                    
                    <div class="bl-12">
                        <select name="distrito" 
                                id="vacunacion_distrito"                                                                           
                                 >   
                        </select>      
                    </div>                    
                </div> 
                
            </div>                                
                

                

            <hr style="
                border: 1px solid darkgray;
                width: 100%;
                margin-top: 20px;
            ">
                
                

                   
                
            
            <div class="f-line">
                
                
                
                <div class="f-campo">
                    <input                                                 
                        type="hidden"
                        name="registrador"
                        id="vacunacion_registrador"
                        data-pertenece ="Registrador"     
                        data-foreign ="Registrador"     
                    />                
                </div>

                
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="cedula_registrador">Cedula registrador:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="cedula_registrador"
                            id="cedula_registrador"
                            class="num" 
                            data-vista ="notGet"
                            />
                    </div>
                    
                    <div class="bl-2">                        
                        <div class="icono"> 
                            <span class="icon-more-horizontal" 
                                  id="ico-more-registrador" 
                                  data-ind="0">                                    
                            </span>
                        </div>                        
                    </div>   
                    
                      
                    
                    <div class="bl-4"></div>                        
                </div>    
                
                <div class="f-campo">
                    
                    <div class="bl-8">
                        <label>Nombre registrador:</label> 
                    </div>

                    <div class="bl-18 out">      
                        <output 
                            id="registrador_descripcion_out" >
                        </output>
                    </div>  
                    
                </div>
                
                <div class="f-campo">
                    
                    <div class="bl-8">
                        <label>Correo electronico:</label> 
                    </div>

                    <div class="bl-18 out">      
                        <output 
                            id="registrador_correo_descripcion_out" >
                        </output>
                    </div>  
                    
                </div>                
                
                
                
            </div>                    
                
            
            
            <hr style="
                border: 1px solid darkgray;
                width: 100%;
                margin-top: 20px;
            ">            
                

            <div class="f-line">
                
                <div class="f-campo">
                    <input                                                 
                        type="hidden"
                        name="vacunador"
                        id="vacunacion_vacunador"
                        data-pertenece ="Vacunacion"   
                        data-foreign ="Vacunador"   
                    />                
                </div>

                
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="cedula_vacunador">Cedula vacunador:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="cedula_vacunador"
                            id="cedula_vacunador"
                            class="num"
                            data-vista ="notGet"
                            />
                    </div>
                    
                    <div class="bl-2">                        
                        <div class="icono"> 
                            <span class="icon-more-horizontal" 
                                  id="ico-more-vacunador" 
                                  data-ind="0">                                    
                            </span>
                        </div>                        
                    </div>   
                    
                   
                    
                    <div class="bl-4"></div>                        
                </div>    
                
                <div class="f-campo">
                    
                    <div class="bl-8">
                        <label>Nombre:</label> 
                    </div>

                    <div class="bl-18 out">      
                        <output 
                            id="vacunador_descripcion_out" >
                        </output>
                    </div>  
                    
                </div>
                

                
                
            </div>                    
                                
                

            <hr style="
                border: 1px solid darkgray;
                width: 100%;
                margin-top: 20px;
            ">               


                
                
            <div class="f-line">

                <div class="f-campo">
                    <div class="bl-8">
                        <label for="cantidad_50_mas">Cant. adultos 50+:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="cantidad_50_mas"
                            id="vacunacion_cantidad_50_mas"
                            class="num" 
                            />
                    </div>                
                
                     <div class="bl-4"></div>  
                </div>                 


                <div class="f-campo">
                    <div class="bl-8">
                        <label for="cantidad_18_49">Cant. vacunados 18-49:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="cantidad_18_49"
                            id="vacunacion_cantidad_18_49"
                            class="num" 
                            />
                    </div>                
                
                     <div class="bl-4"></div>  
                </div>                    
                
                
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="cantidad_18_menos">Cant. menores 18 años:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="cantidad_18_menos"
                            id="vacunacion_cantidad_18_menos"
                            class="num" 
                            />
                    </div>                
                
                     <div class="bl-4"></div>  
                </div>      
                
                
                
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="cantidad_vacunados_total">Cant. total vacunados:</label> 
                    </div>

                    <div class="bl-6">
                        <input                                                 
                            type="text"
                            name="cantidad_vacunados_total"
                            id="vacunacion_cantidad_vacunados_total"
                            class="num" 
                            />
                    </div>                
                
                     <div class="bl-4"></div>  
                </div>                    
                
                
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="transporte">Utilizo transporte:</label> 
                    </div>
                    
                    <div class="bl-4" id="id_sel_transporte">
                        <select name="sel_transporte" 
                                id="sel_transporte"       
                                data-vista ="notGet"
                                 >   
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>      
                    </div>    
                    
                    <div class="bl-4" id="id_vacunacion_transporte" >                        
                        <input                                                 
                            type="text"
                            name="transporte"
                            id="vacunacion_transporte"                            
                            />
                    </div>  

                    
                </div>                
                
                
            </div>                
                
                
                
                
                
 
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="observacion">Observaciones:</label> 
                    </div>


                    <div class="bl-26">
                        <input                                                 
                            type="text"
                            name="observacion"
                            id="proyectovigente_observacion"
                            />
                    </div>                       
                    
                </div> 
            </div>

                

        </form>

    
    

        <form
            class="form"                 
            name="form_archivo"
            id="form_archivo"
            enctype="multipart/form-data">
        
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="filetxt">Archivo:</label> 
                    </div>
                </div>                    

                <div class="f-campo" id="fileU">                    
                    <div class="bl-24">
                        
                        <input type="file" 
                               name="file" 
                               style="border-bottom-width: 0px;     height: 24px;"
                               id="migracion_file">                
                    </div>
                    
                    <div class="bl-8">
                        <div>
                            <a id="btn_enviar"                            
                               href="javascript:void(0);">
                               Enviar
                            </a>                        
                        </div> 
                    </div>
                </div>
                    
                <div class="f-campo" id="fileD">                          
                    <div class="bl-24 out">                             
                        
                        
                        <a id="afileD"                             
                            href="javascript:void(0);">

                            <output                             
                                id="fileD_nombre" >
                            </output>                        
                        </a>

                    </div>    
                        
                    <div class="bl-4">
                        <div>
                            <a id="btn_cambiar"                            
                               href="javascript:void(0);">
                               cambiar
                            </a>                        
                        </div> 
                    </div>                        
                        
                </div>                    
                    
            </div>                    

        
        </form>

        
    
    
</article>

<article id="vacunacion-acciones">
    <pre></pre>
</article>
                


<article id="vacunacion-tabuladores">
    <pre></pre>
</article>
                
