

<div class ="table-responsive-vertical">
    
        <table class="tableB" id="vacunacion-tabla">
          <thead>
            <tr>
                
                <th>fecha</th>
                <th>cedula</th>
                <th>registrador</th>
                <th>email</th>
                
            </tr>
          </thead>

          <tbody id="vacunacion-tb">

          </tbody>

          <tfoot>
            <tr>

            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="vacunacion_paginacion" class="pagination" >                            
        </div>


        <article id="vacunacion_acciones_lista">
            <div class="botones">
                <div class="boton">    
                  <a id="btn_xlsx" 
                     class="botonA" 
                     href="javascript:void(0);">
                     A excel
                  </a>
              </div>
            </div>
        </article>    


        
        

        
        


    