
<article>
            <form
                class="form"
                action="#"
                name="form_vacunador"
                id="form_vacunador"                    
            >
            

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="vacunador">Vacunador:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="vacunador"
                            id="vacunador_vacunador"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    
              
                
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="cedula">Cedula:</label> 
                    </div>

                    <div class="bl-10">
                        <input                                                 
                            type="text"
                            name="cedula"
                            id="vacunador_cedula"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>
                                



            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="nombre">Nombre:</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="nombre"
                            id="vacunador_nombre"
                            />
                    </div>
                </div>    
            </div>
            

                
                
        </form>

</article>

<article id="vacunador-acciones">
    <pre></pre>
</article>
                


<article id="vacunador-tabuladores">
    <pre></pre>
</article>
                
