

<div class ="table-responsive-vertical">
    
        <table class="tableB" id="vacunador-tabla">
          <thead>
            <tr>
                <th class="ca-5">vacunador</th>
                <th class="ca-10">cedula</th>                
                <th class="ca-30">nombre</th>
                
                
            </tr>
          </thead>

          <tbody id="vacunador-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="vacunador_paginacion" class="pagination" >                            
        </div>


        <article id="vacunador_acciones_lista">
            <pre></pre>
        </article>    


        
        
