



<article>

        <table class="tableB" id="rolselector-tabla">
          <thead>
            <tr>
                <th>id</th>
                <th class="ca-10">rol cod</th>
                <th>rol descripción</th>
                <th class="ca-10">selector</th>
                <th>selector descripción</th>
                <th>orden</th>
            </tr>
          </thead>
          
          
          
          
          
          
          

          <tbody id="rolselector-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>


        <hr class="e20"/>

        <div id="div_paginacion" class="pagination" >                            
        </div>

        
        <hr class="e20"/>
        


</article>



<article id="acciones-lista">
    <pre>ess</pre>
</article>